.searchbar{
    width:50%;
   
}
.searchbar:focus{
    outline: none;
    border-color: black; /* or your preferred border color */
    box-shadow: none;
}
#contact{
    background-color: rgb(250, 243, 233);
    position: absolute;
}
#contact img{
    float: right;
    margin-right: 20%;
    width:50%;
    position: relative;
}