
.header {
  background-image: url('/images/images.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:400px;
  position:relative;
}

.header h1{
  font-weight:700;
  color:brown;
  text-align:center;
}

footer{
  background-color: maroon;
  color:white;
}

.line {
  flex:0 1 100px;
  border-top: 4px solid blue;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 20px 0;
}

#star{
  color:yellow;
}

.star-rating{
  text-align:center;
}


.heart-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: red;
  padding: 5px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
}

.card {
  position: relative;
  overflow: hidden; 
  /* change */
  margin:10px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease; 
}

.card:hover .card-img-top {
  transform: scale(1.1);
}
/* change */

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* change */

.card-deck .card {
  flex-basis: 30%;
}
.text{
  font-size:30px;
  color:brown;
  font-weight:900;
}

/* change */

.book_item {
  
  position: relative;
  overflow: hidden; 
  margin:10px;
}


.book_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease; 
}

.book_item:hover img {
  transform: scale(1.1); 
}

.book_item .heart-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: red;
  padding: 5px;
} 

.quantity-display {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

.badge {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  padding: 2px 6px;
  border-radius: 50%;
  background-color: #dc3545;
}
.badges{
  font-size:20px;
  font-weight: bold;
  color: #fff;
  padding: 2px 6px;
  border-radius: 50%;
  background-color: #dc3545;
}
.cart_page{
  padding:20px 50px;

}
.cart-page .cart_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  box-shadow:rgba(0,0,0,0.16)0px 1px 4px ;
}
.cart_item .remove_button 
{
  padding:15px 20px;
  background-color:black;
  color:white;
  cursor:pointer;
  font-size:20px;
  transition:.5s;
}
.cart_item .remove_button:hover{
 border:1px solid;
 background:transparent;
 color:black;
}
.checkout_area{
  text-align:center;
}
.checkout_area button{
  padding:15px 20px;
  width:50%;
  cursor:pointer;
  font-size:18px;
  background-color:black;
  color:white;
  transition:.5s ease-in;
  margin:20px;

}
.checkout_area button:hover{
  background-color:transparent;
  color:black;
  border:1px solid;
}