.header {
    
  background-image: url('ecomlogo.jpeg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:400px;
  position:relative;
  

}
.header h1{
    
    font-weight:700;
    color:brown;
    text-align:center;
  
    
    
}
.card-image-container {
  position: relative;
  display: inline-block;
}

.heart-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: red;
  padding: 5px;
  }
.card-image-container img {
  display: block;
  object-fit: cover;
  height:300vh;
}
.item_image{
  height:40vh;
}
footer{
  background-color: maroon;
  color:white;
}
.item_image:hover{
  opacity: 0.75;
  width:60%;
  transition-duration: 1s;
}
.footer_icons img{
  width:5%;
  border-radius: 100%;
}

