#star{
    color:yellow;
}
.size{
    border:1px solid black;
    display:block;
    width:35px;
    height:35px;
    text-align:center;
    color:brown;
    background-color: beige;


}
.quantity-selector-sm{
    width:10.5rem;
    
    
}


.qty-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #f8f9;
    cursor: pointer;
}

.input-qty {
    width: 60px;
    height: 40px; 
    text-align: center;
    border:none;
    font-size: 16px;
    
}
.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    position: relative;
}

.line {
    border-top: 4px solid red;
    position: absolute;
    bottom: 0; 
    width: 100px; 
}

.details {
    display: grid;
    grid-template-columns: 150px 1fr; /* Adjust width of label column as needed */
    gap: 10px;
    max-width: 600px; /* Adjust as needed */
    margin: 20px auto;
}
.details .label {
    font-weight: bold;
    text-align: right; /* Align labels to the right */
    padding-right: 80px; /* Space between label and value */
}
.label{
    color:grey;
}
.value{
    color:black;
}
#icons{
    margin-left:40px;
    margin-right:40px;
    color:red;
}
.ico{
    display:flex;

}
