.header {
    
    background-image: url('/images/images.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:400px;
    position:relative;
    

  }
.header h1{
    
    font-weight:700;
    color:brown;
    text-align:center;
}

footer{
  background-color: maroon;
  color:white;
}



.line {
    flex:0 1 100px;
    border-top: 4px solid blue;
  
  }
  .line-container {
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 20px 0;
  }
  #star{
    color:yellow;
  }
  .star-rating{
    text-align:center;
  }
  /* ======heart */
  .heart-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: red;
    padding: 5px;
    .image-container {
        position: relative;
        display: inline-block;
      }
      
    }
    .image-container img {
        display: block;
      }
      .card {
        position: relative;
        overflow: hidden; /* Hide overflowed image parts */
      }
      
      .card-img-container {
        position: relative;
        width: 100%;
        height: 300px; /* Adjust height as needed */
        overflow: hidden; /* Ensure image doesn't overflow the card */
      }
      
      .card-img-top {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.6s ease; /* Smooth zoom transition */
      }
      
      .card:hover .card-img-top {
        transform: scale(1.8);
      }
      .text{
        font-size:30px;
        color:brown;
        font-weight:900;
      
        
      }
      .footer_icons img{
        width:5%;
        border-radius: 100%;
      }